/*公用css*/
*{
    margin: 0;
    padding: 0;
    color: #333;
}
li{
    list-style: none;
}



.newNotice{
    border-bottom: 1PX solid #f2f2f2;
    padding: 28px 30px 28px 50px;
}
.newNotice .top{
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}
.newNotice .top .icon{
    margin-right: 20px;
    width: 38px;
    height: 38px;
}
.newNotice .top .icon img{
    width: 100%;
}
.newNotice .top .tit{
    max-width: calc(100% - 60px);
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.newNotice .center{
    color: #999;
    font-size: 26px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.newNotice .bottom{
    display: flex;
    justify-content:space-between;
}
.newNotice .bottom p{
    color: #999;
    font-size: 26px;
    /* width: 50% */
}
body .van-picker-column__item{
    font-size: 32px
}
@media screen and (max-width: 321px) {
    .newNotice .bottom{
        display: block;
    }
    .newNotice .bottom p{
        width:100%
    }
    .newNotice .bottom p:first-of-type{
        margin-bottom: 20px
    }
}
.search{
    height: 153px;
    width: 100%;
    padding: 28px 32px;
    background-color: #f5f5f5;
    box-sizing: border-box; 
}
/* vant  搜索框 */
body .van-search{
    height: 100%;
    width: 100%;
    font-size: 28px;
    padding:0 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
body .van-search .van-cell,body .van-cell__value{
    overflow: initial;
    padding: 0;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}
.search>.van-search .van-cell,.van-cell__value{
    background: #fff
}
body .van-field__left-icon{
    margin-right: 0;
}
body .van-field__left-icon .van-icon{
    font-size: 40px;
    color: #ccc;
}
body .van-search__content{
    background: #fff;
    padding-left: 0;
    height: 100%;
}
.search-box .van-search__content{
    background: #f5f5f5;
}
.search-box .van-field__control{
    background: #f5f5f5;
}
body .van-field__control{
    font-size: 28px;
    height: 100%;
    border-radius: 0;
    -webkit-appearance:none;
}
input::-webkit-input-placeholder{
    line-height: 1.4;
}

body .van-pull-refresh__head{
    font-size: 28px
}
body .van-pull-refresh__loading .van-loading{
    width: 30px;
    height: 30px;
}
body .van-picker__confirm{
    color: #FE6603;
    font-size:32px;
}
body .van-picker__cancel{
    color: #666;
    font-size:32px;
}
body .van-field__body{
    height: 100%;
}
.search-box .van-field__body{
    background: #f5f5f5
}
.load .van-loading{
    margin: 80px auto 0;
}
body .van-loading{
    margin: 80px auto 0;
}
body .van-list__error-text,body .van-list__finished-text,body .van-list__loading-text{
    font-size: 28px
}
body .van-picker__toolbar{
    height: 88px;
    line-height: 88px
}
body .van-icon{
    font-size: 28px
}

.color {
    color:#FE6603 !important;
}
.left {
    float: left;
}
.right {
    float: right;
}
body .logo  .van-cell {
    padding: 18px 0;
    font-size: 28px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 5px;
}
body .enroll  .van-cell {
    padding: 18px 0;
    font-size: 28px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 5px;
}
body .find  .van-cell {
    padding: 18px 0;
    font-size: 28px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 5px;
}
body .toast {
    position: fixed;
    left: 50%;
    top: 50%; 
    transform: translateX(-50%);
    /* width: 100%; */
    text-align: center;
    color:#fff !important;
    background-color: #000;
    opacity: 0.5;
    padding: 10px 20px;
    font-size: 30px;
}
  .prompt {
    width: 100%;
    font-size: 28px;
    margin-bottom: 40px;
  }
  .prompt span {
      color: red
  }
 .enroll .van-button--primary {
    color: #FE6603;
    background-color: #fff;
    border:1px solid #fff;
  }
 .enroll .van-button__text {
      color: #FE6603;
  }
   .find .van-button--primary {
    color: #FE6603;
    background-color: #fff;
    border:1px solid #fff;
  }
 .find .van-button__text {
      color: #FE6603;
  }
  .logo-btn {
    width: 100%;
    height: 88px;
    border-radius: 44px;
    background-color: #FE6603;
    color: #fff;
    font-size: 32px;
    line-height: 88px;
    text-align: center;
    margin-bottom: 30px;
  }
   .reg {
    background-color: #fff;
    border: 1px solid #FE6603;
    color:#FE6603;
  }